svg {
    outline: none; /* removes border when clicking into diagram */
}

.sprotty-node {
    fill: var(--vscode-background);
    stroke: var(--vscode-foreground);
}

.sprotty-node.mouseover:not(.selected) {
    stroke-width: 3;
}

.sprotty-node.selected {
    stroke-width: 2;
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2;
}

.sprotty-label {
    fill: var(--vscode-foreground);
}

.sprotty-popup {
    padding: 0;
    color: var(--vscode-editorHoverWidget-foreground);
    background: var(--vscode-editorHoverWidget-background);
    border-color: var(--vscode-editorHoverWidget-border);
}

.sprotty-palette > div {
    padding: 0 4px;
    cursor: pointer;
}

.sprotty-palette > div:hover {
    color: var(--vscode-textLink-activeForeground);
}